@charset "UTF-8";


/* ===== Body ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* ===== Header ===== */
.header {
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 15px 0;
    text-align: left;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.h1{
    left: 35px;
    color: #000;
}

/* ===== Back button ===== */
.admin {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    background-color:#ddd;
    color: #333;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

/* ===== Main container ===== */
.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

/* ===== Action bar ===== */
.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.searchBox input {
    padding: 6px;
}

.searchBox button {
    padding: 6px 12px;
    margin-left: 5px;
}

.add-btn {
    background-color: #259dd4;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 4px;
}

/* ===== Table ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

